[submodule "bundle/minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/scss_syntax"]
	path = .vim/bundle/scss_syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/sensible"]
	path = .vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/coffee_syntax"]
	path = .vim/bundle/coffee_syntax
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/tmux_nav"]
	path = .vim/bundle/tmux_nav
	url = https://github.com/christoomey/vim-tmux-navigator.git
