[user]
	name = Roberto Plancarte
	email = rplancarte@outmatch.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[url "https://"]
	insteadOf = git://
[push]
	default = simple
